html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }

a{
    text-decoration:none;
}

// color
$color01:#fff;
$color02:grey;
$color03:black;
$color04: aqua;
$color05: red;

// font-size
$font-size01: 12px;
$font-size02: 14px;
$font-size03: 16px;
$font-size04: 26px;
// box-size
$size01: 50px;
$size02: 100px;

// private classes
%container{
    max-width:1000px;
    width:100%;
    margin:50px auto;
}
%p-style{
    font-size:$font-size03;
    color: $color04;
    margin:10px;
}
%title{
    font-size: $font-size04;
    color: $color05;
    margin:$size01; 
}

// mixins
@mixin flex($horizontal,$vertical){
    justify-content:$horizontal ;
    align-items: $vertical;
}
@mixin display($property){
    display:$property;
}

.header{
    background:$color05;
       @extend %container;
        .navbar{
            ul{
                @include display (flex);
                @include flex (space-between,center);
                li{
                    margin-right:20px ;
                    font-size: $font-size02;
                    color:$color01;
                }
            }
        }
}


section{
    background: $color02;
    .flex {
        @extend %container;
        @include display (flex);
        @include flex (center,flex-start);
        .box{
            width:$size02;
            height:$size02;
            background: $color04;
        }
    }
    p{
        @extend %p-style;
    }
    h2{
        @extend %title;
    }
}